.home{
    margin-top: 5vh;
    height: 90vh;
    overflow: auto;
}

.home::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color:  var(--color2);
    border-radius: 10px;
  }
  
  .home::-webkit-scrollbar-thumb {
    background-color: var(--color3);
    border-radius: 10px;
  }
  